In [1]:
import numpy as np

In [2]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url)[0]

In [3]:
table = table.dropna(axis=0)
table.reset_index(drop=True, inplace=True)
table['Neighborhood'] = table['Neighborhood'].map(lambda x:x.replace('/',','))
table.rename(columns={table.columns[0]:'Postalcode'}, inplace=True)

Importing a csv file that has the geographical coordinates of each postal code

In [4]:
geo = pd.read_csv('http://cocl.us/Geospatial_data')
geo.rename(columns={geo.columns[0]:'Postalcode'},inplace= True)

Merging the two dataframes into one

In [5]:
table_merged = pd.merge(table,geo)

In [18]:
data = table_merged[table_merged['Borough']=='York']

In [19]:
data.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
21,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
56,M6M,York,"Del Ray , Mount Dennis , Keelsdale and Silvert...",43.691116,-79.476013
63,M6N,York,"Runnymede , The Junction North",43.673185,-79.487262
64,M9N,York,Weston,43.706876,-79.518188

In [20]:
CLIENT_ID = 'J4VGMYSJY4OYRDZR30W4R3WVDYAEC2PV22JHZN5JB20VAKLT' # your Foursquare ID
CLIENT_SECRET = 'OB2KAUF22LREV114NM24S5EO5VIZFUHQEVIKZIEDMHFPU4W2'
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: J4VGMYSJY4OYRDZR30W4R3WVDYAEC2PV22JHZN5JB20VAKLT
CLIENT_SECRET:OB2KAUF22LREV114NM24S5EO5VIZFUHQEVIKZIEDMHFPU4W2

In [22]:
neighborhood_latitude = data.loc[16, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = data.loc[16, 'Longitude'] # neighborhood longitude value

neighborhood_name = data.loc[16, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Humewood-Cedarvale are 43.6937813, -79.42819140000002.

In [23]:
# type your answer here

LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=J4VGMYSJY4OYRDZR30W4R3WVDYAEC2PV22JHZN5JB20VAKLT&client_secret=OB2KAUF22LREV114NM24S5EO5VIZFUHQEVIKZIEDMHFPU4W2&v=20180605&ll=43.6937813,-79.42819140000002&radius=500&limit=100'

In [24]:
import requests
results = requests.get(url).json()

In [25]:
venues = results['response']['groups'][0]['items']

In [26]:
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']

In [27]:
from pandas.io.json import json_normalize
nearby_venues = json_normalize(venues)

In [28]:
nearby_venues

,reasons.count,reasons.items,referralId,venue.categories,venue.id,venue.location.address,venue.location.cc,venue.location.city,venue.location.country,venue.location.crossStreet,venue.location.distance,venue.location.formattedAddress,venue.location.labeledLatLngs,venue.location.lat,venue.location.lng,venue.location.state,venue.name,venue.photos.count,venue.photos.groups
0,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4b0afc19f964a520212b23e3-0,"[{'id': '4bf58dd8d48988d15f941735', 'name': 'F...",4b0afc19f964a520212b23e3,100 glen cedar,CA,Toronto,Canada,Strathearn,144,"[100 glen cedar (Strathearn), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.69253492309193...",43.692535,-79.428705,ON,Cedarvale Park,0,[]
1,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4c24abfcf7ced13aa425236d-1,"[{'id': '4bf58dd8d48988d159941735', 'name': 'T...",4c24abfcf7ced13aa425236d,NaN,CA,NaN,Canada,NaN,433,[Canada],"[{'label': 'display', 'lat': 43.69018823000726...",43.690188,-79.426106,NaN,Cedarvale Ravine,0,[]
2,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-5050f634e4b092c65b899303-2,"[{'id': '4bf58dd8d48988d1e5941735', 'name': 'D...",5050f634e4b092c65b899303,NaN,CA,Toronto,Canada,NaN,220,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.69203610226217...",43.692036,-79.429491,ON,Cedarvale Dog Park,0,[]
3,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4d1cd5f409546dcb10f1d538-3,"[{'id': '4bf58dd8d48988d185941735', 'name': 'H...",4d1cd5f409546dcb10f1d538,443 Arlington Avenue,CA,NaN,Canada,NaN,398,"[443 Arlington Avenue, Canada]","[{'label': 'display', 'lat': 43.69130271699826...",43.691303,-79.431761,NaN,Phil White Arena,0,[]

In [29]:
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]
nearby_venues

,venue.name,venue.categories,venue.location.lat,venue.location.lng
0,Cedarvale Park,"[{'id': '4bf58dd8d48988d15f941735', 'name': 'F...",43.692535,-79.428705
1,Cedarvale Ravine,"[{'id': '4bf58dd8d48988d159941735', 'name': 'T...",43.690188,-79.426106
2,Cedarvale Dog Park,"[{'id': '4bf58dd8d48988d1e5941735', 'name': 'D...",43.692036,-79.429491
3,Phil White Arena,"[{'id': '4bf58dd8d48988d185941735', 'name': 'H...",43.691303,-79.431761

In [30]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [31]:
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

In [32]:
nearby_venues

           venue.name venue.categories  venue.location.lat  venue.location.lng
0      Cedarvale Park            Field           43.692535          -79.428705
1    Cedarvale Ravine            Trail           43.690188          -79.426106
2  Cedarvale Dog Park          Dog Run           43.692036          -79.429491
3    Phil White Arena     Hockey Arena           43.691303          -79.431761

In [33]:
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

In [34]:
nearby_venues.head()

                 name    categories        lat        lng
0      Cedarvale Park         Field  43.692535 -79.428705
1    Cedarvale Ravine         Trail  43.690188 -79.426106
2  Cedarvale Dog Park       Dog Run  43.692036 -79.429491
3    Phil White Arena  Hockey Arena  43.691303 -79.431761

In [35]:
def getNearbyVenues(names, latitudes, longitudes, radius=500): 
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
    
        results = requests.get(url).json()["response"]['groups'][0]['items']
      
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
       

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
   
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [48]:
# type your answer here

venues = getNearbyVenues(names=data['Neighborhood'],
                                   latitudes=data['Latitude'],
                                   longitudes=data['Longitude']
                                  )

Humewood-Cedarvale
Caledonia-Fairbanks
Del Ray , Mount Dennis , Keelsdale and Silverthorn
Runnymede , The Junction North
Weston

In [49]:
venues

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Humewood-Cedarvale,43.693781,-79.428191,Cedarvale Park,43.692535,-79.428705,Field
1,Humewood-Cedarvale,43.693781,-79.428191,Cedarvale Ravine,43.690188,-79.426106,Trail
2,Humewood-Cedarvale,43.693781,-79.428191,Cedarvale Dog Park,43.692036,-79.429491,Dog Run
3,Humewood-Cedarvale,43.693781,-79.428191,Phil White Arena,43.691303,-79.431761,Hockey Arena
4,Caledonia-Fairbanks,43.689026,-79.453512,Nairn Park,43.690654,-79.456300,Park
5,Caledonia-Fairbanks,43.689026,-79.453512,Maximum Woman,43.690651,-79.456333,Women's Store
6,Caledonia-Fairbanks,43.689026,-79.453512,Walmart,43.690660,-79.456317,Market
7,Caledonia-Fairbanks,43.689026,-79.453512,Fairbank Memorial Park,43.692028,-79.448924,Park
8,"Del Ray , Mount Dennis , Keelsdale and Silvert...",43.691116,-79.476013,Subway,43.690218,-79.474050,Sandwich Place
9,"Del Ray , Mount Dennis , Keelsdale and Silvert...",43.691116,-79.476013,El Nahual,43.690763,-79.473799,Restaurant
10,"Del Ray , Mount Dennis , Keelsdale and Silvert...",43.691116,-79.476013,Timothy's World Coffee,43.690072,-79.474599,Coffee Shop
11,"Del Ray , Mount Dennis , Keelsdale and Silvert...",43.691116,-79.476013,Dollar Tree,43.690296,-79.474667,Discount Store
12,"Runnymede , The Junction North",43.673185,-79.487262,241 Pizza,43.672351,-79.492631,Pizza Place
13,"Runnymede , The Junction North",43.673185,-79.487262,195 Jane Rocket,43.672335,-79.492634,Bus Line
14,"Runnymede , The Junction North",43.673185,-79.487262,High Park Brewery,43.669903,-79.483430,Brewery
15,"Runnymede , The Junction North",43.673185,-79.487262,Welcome Food Mart,43.669701,-79.483491,Grocery Store
16,Weston,43.706876,-79.518188,Grattan Park,43.706222,-79.521705,Park

In [50]:
onehot= pd.get_dummies(venues[['Venue Category']], prefix="", prefix_sep="")

In [51]:
onehot['Neighborhood']=venues['Neighborhood']

In [52]:
fixed_columns = [onehot.columns[-1]] + list(onehot.columns[:-1])
onehot = onehot[fixed_columns]

In [53]:
onehot.groupby('Neighborhood').mean()

,Brewery,Bus Line,Coffee Shop,Discount Store,Dog Run,Field,Grocery Store,Hockey Arena,Market,Park,Pizza Place,Restaurant,Sandwich Place,Trail,Women's Store
Neighborhood,,,,,,,,,,,,,,,
Caledonia-Fairbanks,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,0.5,0.00,0.00,0.00,0.00,0.25
"Del Ray , Mount Dennis , Keelsdale and Silverthorn",0.00,0.00,0.25,0.25,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.25,0.25,0.00,0.00
Humewood-Cedarvale,0.00,0.00,0.00,0.00,0.25,0.25,0.00,0.25,0.00,0.0,0.00,0.00,0.00,0.25,0.00
"Runnymede , The Junction North",0.25,0.25,0.00,0.00,0.00,0.00,0.25,0.00,0.00,0.0,0.25,0.00,0.00,0.00,0.00
Weston,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.0,0.00,0.00,0.00,0.00,0.00

In [54]:
grouped = onehot.groupby('Neighborhood').mean().reset_index()
grouped.head()

,Neighborhood,Brewery,Bus Line,Coffee Shop,Discount Store,Dog Run,Field,Grocery Store,Hockey Arena,Market,Park,Pizza Place,Restaurant,Sandwich Place,Trail,Women's Store
0,Caledonia-Fairbanks,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,0.5,0.00,0.00,0.00,0.00,0.25
1,"Del Ray , Mount Dennis , Keelsdale and Silvert...",0.00,0.00,0.25,0.25,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.25,0.25,0.00,0.00
2,Humewood-Cedarvale,0.00,0.00,0.00,0.00,0.25,0.25,0.00,0.25,0.00,0.0,0.00,0.00,0.00,0.25,0.00
3,"Runnymede , The Junction North",0.25,0.25,0.00,0.00,0.00,0.00,0.25,0.00,0.00,0.0,0.25,0.00,0.00,0.00,0.00
4,Weston,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.0,0.00,0.00,0.00,0.00,0.00

In [55]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [56]:
#바로 위의 반복문은 굳이 만들지 않았어도 됐을 것 같다.

num_top_venues = 5

indicators = ['st', 'nd', 'rd']

columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = grouped['Neighborhood']

for ind in np.arange(grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Caledonia-Fairbanks,Park,Women's Store,Market,Trail,Sandwich Place
1,"Del Ray , Mount Dennis , Keelsdale and Silvert...",Sandwich Place,Restaurant,Discount Store,Coffee Shop,Women's Store
2,Humewood-Cedarvale,Trail,Hockey Arena,Field,Dog Run,Women's Store
3,"Runnymede , The Junction North",Pizza Place,Grocery Store,Bus Line,Brewery,Women's Store
4,Weston,Park,Women's Store,Trail,Sandwich Place,Restaurant

In [57]:
from sklearn.cluster import KMeans
kclusters = 3

grouped_clustering = grouped.drop('Neighborhood', 1)

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)

kmeans.labels_[0:10]

array([0, 1, 1, 2, 0])

In [58]:
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

merged = data
merged = merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')
merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191,1,Trail,Hockey Arena,Field,Dog Run,Women's Store
21,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512,0,Park,Women's Store,Market,Trail,Sandwich Place
56,M6M,York,"Del Ray , Mount Dennis , Keelsdale and Silvert...",43.691116,-79.476013,1,Sandwich Place,Restaurant,Discount Store,Coffee Shop,Women's Store
63,M6N,York,"Runnymede , The Junction North",43.673185,-79.487262,2,Pizza Place,Grocery Store,Bus Line,Brewery,Women's Store
64,M9N,York,Weston,43.706876,-79.518188,0,Park,Women's Store,Trail,Sandwich Place,Restaurant

In [59]:
import folium

map_clusters = folium.Map(location=[43.7668114, -79.4162979], zoom_start=12)
rainbow = ['#8000ff', '#00b5eb', '#80ffb4', '#ffb360', '#ff0000']
markers_colors = []
for lat, lon, poi, cluster in zip(merged['Latitude'], merged['Longitude'], merged['Neighborhood'], merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[int(cluster)-1],
        fill=True,
        fill_color=rainbow[int(cluster)-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [ ]:
merged